.navbar{
    border-bottom: 1px solid $secondary_color;
    .logo-container{
        @include flex_default;
        padding: $base_spacing 0;

        img{
            padding: 0 $base_spacing / 2;
        }
    }

    li{
        padding: $base_spacing;
        &:hover{
            color: $hover_color;
        }
    }
}

h1{
    padding-top: $base_spacing *3;
    padding-bottom: $base_spacing;
}

.multiple-btn-container{
    @include flex_default;
    padding-top: $base_spacing * 2;
    padding-bottom: $base_spacing;

    .btn{
        margin: $base_spacing / 3
    }
}