section{
    padding: $base_spacing;

    .flex-container{
        padding-top: $base_spacing + 2;
    }

    h2{
        line-height: $base_spacing * 4;
    }

    h4{
        padding: $base_spacing 0;
    }

    p{
        padding: ($base_spacing *2) 0;
    }

    a{ 
        display: block;
        padding-bottom: $base_spacing;
    }

    img{
        background-color: $white;
        border: $base_spacing solid $white;
        border-radius: 10px;
    }

    .section-img-container{
        width: 80%;
        img{
            width: 100%;
            object-fit: contain;
        }
    }

    &:nth-child(odd){
        background-color: $main_color;
    }

    .subsection{
        padding: $base_spacing 0;
        text-align: center;

        .three-img-container{
            padding: $base_spacing * 2;
            @include flex_default;
            justify-content: space-evenly;
            width: 80%;
            margin: auto;
        }

        .common-size-img{
            margin: auto;
            padding-bottom: $base_spacing * 3;
        }

        hr{
            width: 80%;
            margin: auto;
            border-top: 1px solid $secondary_color;
        }
        // &:nth-child(2){

        //     .three-img-container{
               
        //            .third-size-img{
        //               &:nth-child(3){
        //                   img{
        //                       width: 25%;
        //                   }
        //               }
        //            }
               
        //     }
        // }

        .card{
            img{
                width: 40px;
                object-fit: contain;
                margin: $base_spacing / 3;
            }
            .founders{
                @include flex_default;
                .names{
                    padding-left: $base_spacing / 3;
                    a{
                        padding: 0
                    }
                }
            }
        }

        .multiple-btn-container{
            justify-content: center;
            .btn{
                .btn-img{
                    img{
                        border-radius: none;
                        border: none;
                        background-color: inherit;
                    }
                }
            }
        }
    }

}